# Generic temporary files
*.tmp
*.vs
*.tgz

# Build outputs
[Dd]ebug/
[Rr]elease/

# ignore code coverage artifacts
cobertura.ser
.sonar/*
*.jar
target/
.idea/
.idea/*
*.iml
build/
manifest/
*.tgz
*.zip
*.log
*.iml
TestResults

__pycache__

# Files are copied to the this dir on compile.
random-session-generator/containers/random-session-generator/scripts

# This file generated in tests.
source/healthCheckFile